@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
  -webkit-box-shadow: 2px 1px 39px -8px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 2px 1px 39px -8px rgba(0, 0, 0, 0.52);
  box-shadow: 2px 1px 39px -8px rgba(0, 0, 0, 0.52);
}
/* form  */

.contact-form {
  width: 100%;
  padding: 20px 0;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
}
.contact-form .form-control {
  width: 100%;
  padding: 4%;
  height: 40px;
}
.contact-form .form-control input:focus {
  outline-color: #4c9dba;
}
.contact-form .btn {
  padding: 12px 100px;
  margin-top: 28px;
}
