* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    font-family: arial;
}
.login{
    border: 3px solid #DADCDB;
    width: 350px; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login__img{
    display: block;
    margin: 0 auto; 
}
.login__h1{
    font-size:28px; 
    font-weight: 600;
    text-align: center;
    color:#787979;
    padding: 25px;
}
.form__input{ 
    border-color:#EAEAE8;
    padding-left: 20px;
    border:1px solid #bbbbbb83;
}
.form__input--big{
    font-size: 20px;
    height: 60px; 
    width: 100%;
}
.form__input--topR{
    border-radius: 10px 10px 0px 0px;
}
.form__input--bottomR{
    border-radius: 0px 0px 10px 10px;
}

.form__input::placeholder {
    color: #C8C9C9;
}
.button{
    margin: 30px 0;
    border: 0;
    background: none;
}
.button--big{
    width: 100%;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.button--blue{
    background-color: #1C204D;
    color:white;
}
.button--blue:hover{
    background-color: #11142e;;
}
.button__forgot{
    text-decoration: none;
    color: #bbbbbb;
    border:3px solid #E6E6E4;
    border-radius: 10px;
    padding:3px;
}
.button__forgot:hover{
    color: #787979;
}