* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    font-family: arial;
}
.login{
    border: 3px solid #DADCDB;
    width: 350px; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login__img{
    display: block;
    margin: 0 auto; 
}
.login__h1{
    font-size:28px; 
    font-weight: 500;
    text-align: center;
    color:#787979;
    padding: 30px;
}
.input__text, .input__password{
    font-size: 20px;
    height: 60px; 
    width: 100%;   
    border-color:#EAEAE8;
    padding-left: 20px;
}
::placeholder {
    color: #C8C9C9;
}
.login__button{
    margin: 30px 0;
    width: 100%;
    height: 60px;
    border: none;
}
.login__button--blue{
    background-color: #1C204D;
    color:white;
    font-size: 15px;
    font-weight: 600;
}
.login__button--blue:hover{
    background-color: #11142e;;
}
.login__forgot{
    text-decoration: none;
    color: #C7C8C7;
    border:3px solid #E6E6E4;
    border-radius: 10px;
    padding:3px;
}
.login__forgot:hover{
    color: #787979;
}